<h2>Comments</h2>
{% for comment in post.comments.all %}
  <p>{{ comment.author }}: {{ comment.content }}</p>
  {% if comment.author == request.user %}
    <a href="{% url 'edit-comment' comment.id %}">Edit</a> |
    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
  {% endif %}
{% endfor %}

{% if user.is_authenticated %}
  <form method="POST" action="{% url 'add-comment' post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post Comment</button>
  </form>
{% else %}
  <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
{% endif %}
